.userRow {
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid black;
}

.name {
  width: 60%;
  font-weight: bold;
}

.status,
.role {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.teacher,
.student,
.other {
  padding: 0.25rem 0.5rem;

  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 8px;
}

.teacher {
  background-color: aqua;
}

.student {
  background-color: lightgreen;
}

.other {
  background-color: lightgray;
}
